@import "../../global.scss";

.category {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 10rem;

  .title {
    font-size: 2.5rem;
    font-family: "Do Hyeon";
  }

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    height: 300px;
  }
}

@include tablet {
  .category {
    .title {
      font-size: 2rem;
    }

    .cardContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include mobile {
  .category {
    margin-bottom: 5rem;

    .title {
      font-size: 1.7rem;
    }

    .cardContainer {
      height: 900px;
      grid-template-columns: repeat(1, 2fr);
    }
  }
}
