@import "../../global.scss";

.container {
  margin-bottom: 3rem;
}

.jumbotron {
  height: 80vh;
  background: linear-gradient(rgba(55, 55, 55, 0.5), rgba(55, 55, 55, 0.5)),
    url("../../assets/img/landing_bg.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 8vw;
    font-weight: 900;
    color: $white-color;
    margin-top: -5rem;
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    .inputBox {
      position: relative;
      label {
        position: absolute;
        z-index: 10;
        top: 50%;
        transform: translate(0%, -50%);
        font-weight: bold;
        padding-left: 0.5rem;
        font-size: 1.2rem;
        color: #555;
      }

      .search {
        width: 30vw;
        outline: none;
        text-decoration: none;
        font-size: 1.2rem;
        border: none;
        padding: 0.7rem 0.5rem 0.7rem 4.3rem;
        background: $white-color;
        position: relative;
        -webkit-box-shadow: 10px 10px 6px -8px rgba(0, 0, 0, 1);
        -moz-box-shadow: 10px 10px 6px -8px rgba(0, 0, 0, 1);
        box-shadow: 10px 10px 6px -8px rgba(0, 0, 0, 1);

        &::placeholder {
          color: #999;
        }
      }

      .secondSearch {
        transform: translateX(-5px);
        border-left: 1px solid #666;
        border-radius: 0px 3px 3px 0px;
        padding-left: 6.5rem;
      }
    }
    .submit {
      @include whiteBtn();
    }
  }
}

@include tablet {
  .jumbotron {
    .title {
      font-size: 5.5rem;
    }

    .form {
      flex-direction: column;
      min-width: 380px;
      max-width: 600px;
      width: 70%;

      .inputBox {
        width: 100%;
        margin-bottom: 0.1rem;

        .search {
          width: 100%;
        }

        .secondSearch {
          transform: translateX(0px);
          border-left: none;
          border-radius: 3px;
          padding-left: 6.5rem;
        }
      }
      .submit {
        @include whiteBtn();
        width: 100%;
        margin-top: 1.5rem;
      }
    }
  }
}

@include mobile {
  .jumbotron {
    height: 70vh;

    .title {
      font-size: 3rem;
    }

    .form {
      flex-direction: column;
      width: 80%;

      .inputBox {
        width: 100%;
        margin-bottom: 0.1rem;

        .search {
          width: 100%;
        }

        .secondSearch {
          transform: translateX(0px);
          border-left: none;
          border-radius: 3px;
          padding-left: 6.5rem;
        }
      }
      .submit {
        @include whiteBtn();
        width: 100%;
        margin-top: 1rem;
      }
    }
  }
}
