@import "../../global.scss";

.jumbotron {
  height: 80vh;
  background: linear-gradient(rgba(55, 55, 55, 0.5), rgba(55, 55, 55, 0.5)),
    url("../../assets/img/landing_bg.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 8vw;
    font-weight: 900;
    color: $white-color;
    margin-top: -5rem;
  }

  .form {
    .search {
      width: 30vw;
      outline: none;
      text-decoration: none;
      font-size: 1.2rem;
      border: none;
      padding: 0.7rem 0.5rem 0.7rem 1.7rem;
      background: $white-color;
      position: relative;
      margin-top: 3rem;
      -webkit-box-shadow: 10px 10px 6px -8px rgba(0, 0, 0, 1);
      -moz-box-shadow: 10px 10px 6px -8px rgba(0, 0, 0, 1);
      box-shadow: 10px 10px 6px -8px rgba(0, 0, 0, 1);

      &:nth-child(2) {
        transform: translateX(-5px);
        border-left: 1px solid #666;
        border-radius: 0px 3px 3px 0px;
      }

      &::placeholder {
        color: #999;
      }
    }
    .submit {
      @include whiteBtn();
    }
  }
}

.category {
  .categoryTitle {
    font-size: 5rem;
  }
}
